<%= form_for(@survey, html: {multipart: true}) do |f| %>
  <div class="form-group">
    <%= f.label :title %><br />
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :logo %><br />
    <%= f.file_field :logo, accept: 'image/jpeg,image/gif,image/png', class: "form-control" %>
  </div>


  <div class="form-group">
    <%= f.label :state %><br />
    <%= f.select :state, Survey.states.keys.to_a, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %><br />
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <%= f.fields_for :questions do |builder| %>
    <%= render "question_fields", :f => builder %>
  <% end %>

  <p class="text-right"><%= link_to_add_fields "<i class='fa fa-plus'> Add Question</i>", f, :questions %></p>
  <p class="text-center"><%= f.submit "Submit", class: "btn btn-primary" %>  <%= link_to 'Back to surveys', surveys_path, class: "btn btn-default" %></p>
<% end %>
