<%= form_for @survey_response, url: survey_responses_path(@survey) do |f|%>

  <% @survey.questions.each do |question|  %>

    <h4><%= question.description %></h5>

    <%= collection_radio_buttons(:"survey_responses", :"questions_answers[#{question.id}]", question.answers, :id, :description) do |b| %>
      <div class="radio">
        <%= b.label { b.radio_button(checked: true) + b.text } %>
      </div>
    <% end %>

  <% end %>

  <div class="text-center">
    <% unless current_user.author?(@survey) %>
      <%= f.submit "Send Survey", class: "btn btn-primary" %>
    <% end %>
  </div>

<% end %>