<div class="container">

  <h1>Current surveys</h1>

  <% @surveys.each do |survey| %>
    <% if survey.published? || current_user.author?(survey) %>
      <div class="col-md-3 survey-preview">
        <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><%= survey.title %> | <i class="<%= survey.state %>"><%= survey.state %></i></h3>
            </div>
          <div class="panel-body">
            <%= sanitize(truncate(survey.description, length: 150)) %>
          </div>
          <div class="panel-footer text-center">
            <%= link_to raw('<i class="fa fa-eye"> See Survey</i>'), survey %>
            <% if current_user.author?(survey) %>
              <%= link_to raw('|  <i class="fa fa-pencil-square-o"> Edit</i>'), edit_survey_path(survey)   %>
              <%= link_to raw('|  <i class="fa fa-trash"> Destroy</i>'), survey, method: :delete, data: { confirm: 'Are you sure?' } %>
              <hr>
              <%= link_to raw('<i class="fa fa-bar-chart"> See Responses</i>'), survey_responses_path(survey) %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

</div>