<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <div class="row">
          <div class="col-md-9"><h3><%= @survey.title %></h3></div>
          <div class="col-md-3">
          <%= image_tag @survey.logo.url if @survey.logo? %>
          </div>
        </div>
      </div>
      <div class="panel-heading">
        <%= @survey.description %>
      </div>
      <div class="panel-body">
        <%= render 'form_responses' %>
      </div>
      <div class="panel-footer text-center">
        <%= link_to 'Back', surveys_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>


