<div class="container">
  <div class="col-md-10 col-md-offset-1 text-center">
    <h3>Summary for <i><%= @survey.title %></i></h3>
    <h4># of responses: <%= @responses_number %></h4>
    <div class="row">
      <% @survey_responses.each do |survey_response| %>
        <div class="col-md-6">
          <h4><%= survey_response.question.description %></h4>
          <%= pie_chart SurveyResponse.question_summary(survey_response.question_id) %>
        </div>
      <% end %>
    </div>
    <div class="row">
      <h3>People who has answered: </h3>
        <div>
          <h4>Genre</h4>
          <%= pie_chart SurveyResponse.genres_summary(@survey) %>
        </div>

        <div>
          <h4>Age range</h4>
          <%= column_chart SurveyResponse.age_range_summary(@survey) %>
        </div>

        <div>
          <h4>Users who has answered: </h4>
          <table class="table table-bordered text-center">
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
            </tr>
            <% @survey_responders.each do |survey_responder| %>
              <tr>
                <td><%= survey_responder.user.first_name %></td>
                <td><%= survey_responder.user.last_name %></td>
              </tr>
            <% end %>
          </table>
        </div>

    </div>
  </div>
</div>
